<div class="body">
    <div class="item">
        <h1 class="home-header">Welcome to the Hive Center</h1>
    </div>
    <div class="item">
        <%= link_to beehives_path do %>
            <%= image_tag "bee.png", class: "hive-image" %>
        <% end %>
        <h3>See All Hives? Click the bee!<h3>
    </div>
</div>
